@media (min-width: 1200px)
.container {
    width: 1270px;
}

.navbar-header {
    float: inherit !important;
}

.container {
	background-color: white;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 0px;
	padding-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}

/* VIdeos */

.videospopulares {
	 margin-top: 25px;
   margin-left: 30px;
}

.bloquevideoinicio {
	width: 300px;
	float: left;
	margin-right: 50px;
}

.videoinicio {
	width: "640";
	height: "360";
}

h5 {
	font-weight: bold;
	margin-bottom: 10px;
}