@media (min-width: 1200px)
.container {
    width: 1270px;
}

.container {
	background-color: white;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 0px;
	padding-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}