body {
	margin: 0px;
	background-color: #F1F1F1;
}

.navbar-header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

.navbar-header {
    float: inherit !important;
}

/* Change the link color to #111 (black) on hover */

.active {
		background-color: #4CAF50;
}

.iconocab {
	  padding: 0px;
    margin: 0px;
    margin-left: 135px;
    margin-top: -1px;
    font-size: 30px;
}

/* Busqueda cabecera */

.searchcab {
	width: 600px;
	margin-left: 350px;
	margin-top: 8px;
}


/* Hamburguer y su menu */

.hamburger {
		color: #B8B8B8;
    margin-left: 30px;
    margin-top: 4px;
    background: none;
    position: absolute;
    top: 0;
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.menu {
	z-index:1000000;
	font-size:0.8em;
	width:100%;
	background:#131313;
	position:absolute;
	text-align:center;
	width: 200px;
}

.menu ul {
	margin: 0;
	padding: 0;
	padding: 15px !important;
	list-style-type: none;
	list-style-image: none;
	border-top: 1px solid #D8D7D7;
	box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1);
}

.menu li {
	display: block;
	height: 35px;
	padding-top: 8px !Important;
	padding-bottom: 15px !important;
	color: #222;
	font-size: 13px;
}

.menu li:hover{
	background-color: #636363;
	color: white;
}

.menu ul li a {
	text-decoration:none;
	color: #222;
}
.menu ul li:hover a {
	text-decoration:none;
	color: white;
}

.menu a{
	text-decoration:none;
}

.menu a:hover{
	text-decoration:none;
}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
