body {
    background-color: lightgray;
}

section {
    background-color: white;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.portada {
    background-color: #e52d27;
    height: 250px;
    padding: 20px;
      padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: 6px 6px;
}

.description {
    background-color: white;
    padding: 160px 50px 50px 50px;
}

.btn-youtube {
  color: #FFFFFF;
  background-color: #E52D27;
  border-color: #fff;
}
.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active,
.btn-youtube.active,
.open .dropdown-toggle.btn-youtube {
  color: #FFFFFF;
  background-color: #CC3E39;
  border-color: #FFFFFF;
}

.video {
    height: 300px;
    width: 600px;
    position: absolute;
    background: black;
    margin-left: 8%;
    margin-top: -150px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.title {
    color: white;
    font-size: 40px;
    text-align: center;
}

.video-info {
    color: #b3b3b3;
}

.video-description {
    margin-top: 20px;
    line-height: 2;
}

.space {
    height: 30px;
    background-color: transparent;
}

.videos-image {
    width: 100%;
}

.center {
    text-align: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 1px solid #696969;
}

.profile {
    height: 250px
}

.relacionados-channel {
    padding-left: 20px;
    margin-top: 25px;
}

.relacionados-user {
    font-weight: 900;
}

.relacionados-subs {
    color: darkgrey;
    font-style: italic;
}

.relacionados-imagen {
    width: 100px;
    height: 100px;
    margin-left: -12px;
    border: 1px solid #696969;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-top {
    margin-top: 15px;
}

.right {
    text-align: right;
}

.date {
    color: #cecece;
}

.comment-box {
    resize: vertical;
    margin-left: 10px;
    margin-right: 10px;
}

.image {
    width: 90px;
    height: 90px;
    border: 1px solid #696969;
}

.mensaje-sin-videos {
  margin-left: 30px;
}
