.container {
	min-height: 500px;
}

/* Formulario login */

.divcamposlogin {
	width: 500px;
	margin-left: 250px;
	margin-top: 10px;
}

.divcamposlogin input {
	margin-top: 10px;
	margin-bottom: 15px;
}

.botonlogin {
	width: 100%;
	border-radius: 3px;
	margin-top: 10px;
}