/* Mensajes de success o error */

.mensajevisible {
	transition: opacity 1s ease-out;
	opacity: 1;
}

.mensajeoculto {
	opacity: 0;
	visibility: hidden;
}

.mensaje {
	opacity: 0;
	display: none;
}

.mensaje.visible {
	display: block;
	opacity: 1;
}
