.container {
	background-color: white;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 0px;
	padding-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}

.formulariosubirvideo {
	margin-top: 30px;
	margin-left: 30px;
}

.formulariosubirvideo input {
	width: 500px;
}

.formsubirvideotextarea {
	width: 500px;
	height: 130px !important;
}

.formsubirvideotextareasmall {
	height: 84px !important;
}

.formsubirvideoselect {
	width: 500px;
}

.formsubirvideodosinputs {
	margin-right: 5px;
}

.campoobligatorio {
	color: red;
}

.botonsubirvideo {
	margin-top: 7px;
}

/* Mensajes */

.mensajesSubirVideo {
	width: 500px;
  margin-left: 45px;
  margin-top: 20px;
}